.list-container{
    margin:20px 0 20px 0;
    padding: 40px 0 40px 0;
}
.tab-section{
    padding: 10px 0 10px 0;
    display:grid;
    gap: 20px;
}
.task-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: rgba(161, 161, 233, 0.315);
  }
.empty-card{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}  
.icon-delete { color: #ff0000; cursor:pointer }
.icon-complete { color: #00ff00; cursor:pointer }
.icon-edit { color: #ff8800; cursor:pointer }
