<div class="list-container">
  <mat-tab-group dynamicHeight preserveContent>
    <mat-tab label="Pending" >
      <li class="tab-section " *ngFor="let task of tasks">
        <mat-card>
          <mat-card-content>{{task}}</mat-card-content>
        </mat-card>
      </li>
    </mat-tab>
    <mat-tab class="tab-section" label="Completed">
      <div class="tab-section ">
        <mat-card>
          <mat-card-content>Completed Task 1</mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-content>Completed Task 1</mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-content>Completed Task 3</mat-card-content>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab class="tab-section" label="Deleted">
      <div class="tab-section ">
        <mat-card>
          <mat-card-content>Deleted Task</mat-card-content>
        </mat-card>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
