<div class="list-container">
  <mat-tab-group dynamicHeight preserveContent>
    <mat-tab label="Pending">
      <mat-list role="list" #pendingTasks>
        <ng-container *ngIf="tasks.pending.length > 0; else emptyState">
          <mat-list-item
            class="pending-task"
            *ngFor="let pending of tasks.pending"
          >
            <div class="task-container">
              <div>{{ pending.task }}</div>
              <div style="display: flex; gap: 10px">
                <mat-icon class="icon-complete" (click)="completeTask(pending)"
                  >check</mat-icon
                >
                <mat-icon class="icon-delete" (click)="deleteTask(pending)"
                  >delete</mat-icon
                >
              </div>
            </div>
          </mat-list-item>
        </ng-container>
        <ng-template #emptyState>
          <mat-card class="empty-card">
            <mat-card-content> No pending tasks. </mat-card-content>
          </mat-card>
        </ng-template>
      </mat-list>
    </mat-tab>
    <mat-tab label="Completed">
      <mat-list role="list" #completedTasks>
        <ng-container
          *ngIf="tasks.completed.length > 0; else emptyCompletedState"
        >
          <mat-list-item
            class="completed-task"
            *ngFor="let completed of tasks.completed"
          >
            <div class="task-container">
              <div>{{ completed.task }}</div>
            </div>
          </mat-list-item>
        </ng-container>
        <ng-template #emptyCompletedState>
          <mat-card class="empty-card">
            <mat-card-content> No completed tasks. </mat-card-content>
          </mat-card>
        </ng-template>
      </mat-list>
    </mat-tab>
    <mat-tab label="Deleted">
      <mat-list role="list" #deletedTasks>
        <ng-container *ngIf="tasks.deleted.length > 0; else emptyDeletedState">
          <mat-list-item
            class="deleted-task"
            *ngFor="let deleted of tasks.deleted"
          >
            <div class="task-container">
              <div>{{ deleted.task }}</div>
            </div>
          </mat-list-item>
        </ng-container>
        <ng-template #emptyDeletedState>
          <mat-card class="empty-card">
            <mat-card-content> No deleted tasks. </mat-card-content>
          </mat-card>
        </ng-template>
      </mat-list>
    </mat-tab>
  </mat-tab-group>
</div>
